@import "tailwindcss";

:root {
  --bg: #F9FAFB;
  --surface: #FFFFFF;

  --text: #1F2937;
  --muted: #6B7280;

  --primary-700: #047857;
  --primary-500: #10B981;
  --primary-100: #D1FAE5;

  --border: #E5E7EB;
  --shadow: rgba(4, 120, 87, 0.10);
}

@theme {
  --color-bg: var(--bg);
  --color-surface: var(--surface);

  --color-text: var(--text);
  --color-muted: var(--muted);

  --color-primary: var(--primary-500);
  --color-primary-dark: var(--primary-700);
  --color-primary-light: var(--primary-100);

  --color-border: var(--border);

  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}